body{
  margin: 0;
}
.main{
  position:absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.navbar-default {
    background-color: #33A0D9;
    border-color: #E7E7E7;
}
#logo{
  position: sticky;
  left: 6.94%;
  right: 80.21%;
  top: 20.19%;
  bottom: 12.5%;
}
#First{
  position: absolute;
  left: 54.1%;
  right: 34.51%;
  top: 34.62%;
  bottom: 34.62%;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
#Second{
  position: absolute;
  left: 70.76%;
  right: 18.12%;
  top: 34.62%;
  bottom: 34.62%;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
#Third{
  position: absolute;
  left: 87.15%;
  right: 2.85%;
  top: 24.04%;
  bottom: 24.04%;
}
.btn-default{
  height: 54px;
  width: 144px;
}
.footer{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 88.05%;
  bottom: 0%;
  background: #2180B3;
}
.One{
  color: #FFFFFF;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  width: 196px;
  height: 36px;
  left: 10px;
  top: 30px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 49px;
}
.Two{
  position: absolute;
  width: 108px;
  height: 36px;
  left: 255px;
  top: 30px;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 49px;
}
.Three{
  position: absolute;
  width: 160px;
  height: 36px;
  left: 412px;
  top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 49px;
}
.Four{
  position: absolute;
  width: 100px;
  height: 36px;
  left: 621px;
  top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  flex: none;
  order: 3;
  flex-grow: 0;
  margin: 0px 49px;
}
.Five{
  position: absolute;
  width: 191px;
  height: 36px;
  left: 770px;
  top: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  flex: none;
  order: 4;
  flex-grow: 0;
  margin: 0px 49px;
}
#heading{
  position: absolute;
left:600px;
top: 50px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 120%;
color: #000000;
}
#newPasswordLabel{
  position:fixed;
  left: 600px;
  top: 125px;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
  /* identical to box height */
  letter-spacing: 0.205em;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 66px 0px;
}
#newPassword{
  position:fixed;
  left: 600px;
  top: 230px;
  background: #F2F2F2;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}
#reEnterLabel{
  position: fixed;
  left: 600px;
  top: 207px;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
  letter-spacing: 0.205em;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 66px 0px;
}
#reEnter{
  position: fixed;
  left: 600px;
  top: 310px;
  background: #F2F2F2;
  border: 3px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
}
.mystyle{
  position: fixed;
  left: 600px;
  top: 310px;
  background: #F2F2F2;
  border: 3px solid #EB5757;
  box-sizing: border-box;
  border-radius: 2px;

}
#submitButton{
  position:fixed;
  left: 600px;
  top: 380px;
  width: 300px;
  height: 55px;
  background: #000000;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.205em;
}
.Error{
  position: absolute;
  left: 600px;
  top: 251px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  color: #EB5757;
}
.Success{
  position: absolute;
  width: 400px;
  left: 600px;
  top: 110px;
  /* font-family: Avenir Next; Since it is a paid font so using it's best close alternative i.e. Montserrat  */
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
.buttonSuccess{
  position:absolute;
  width: 400px;
  height: 50px;
  left: 600px;
  top: 170px;
  background: #000000;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.205em;
}
